<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<RollingFile name="RollingFile"
			fileName="${sys:HostSpecificLogFileLocation}/oci.log"
			filePattern="${sys:HostSpecificLogFileLocation}/oci-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>

				<pattern>{%n"level":"%p",%n"timestamp":"%d{ISO8601}",%n"thread":"%t",%n"file":"%c",
					%n"line":"%L",%n"message":"%m"%n},%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>
	<Loggers>
		
		<Root level="info" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>